* {
    background-color: #201D1D;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Inter', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding: 20px;
    border-bottom: black 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#my-logo {
    width: 60px;
}

.header-links a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0 5px;
}

#mine-short {
    margin: 30px;
    border: #f3eeee 1px solid;
    border-radius: 10px;
    padding: 60px 0;
    background-color: #242222;
    text-align: center;
}

.mine-text {
    background-color: #242222;
    padding: 10px 0;
}

#name {
    font-size: 40px;
    margin: 20px 0;
}

#role {
    font-size: 23px;
    margin-bottom: 10px;
}

#one-liner {
    color: #847979;
    margin-bottom: 20px;
}

.section {
    margin: 120px 300px;
    display: flex;
    gap: 50px;
}

.section-heading {
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 147%; /* 55.86px */
    text-transform: uppercase;
    padding: 50px;

}

.section .right {
    border-right: 1px solid white;
}

.section .left {
    border-left: 1px solid white;
}

.about-me {
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    line-height: 147%; /* 45.57px */
    padding: 30px 0;
}

.reverse {
    flex-direction: row-reverse;
}

.skills-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skill {
    width: 50%;
    text-align: center;
    font-size: 31px;
    padding: 50px 0;
}

.education-box-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.education-box {
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    line-height: 147%; /* 45.57px */
    text-transform: uppercase;
}

.experience-box h3 {
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    line-height: 147%; /* 45.57px */
}

.experience-box ul {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 147%; /* 45.57px */
    margin-left:20px;
    margin-top: 40px;
}

footer {
    padding: 50px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    font-weight: 700;
}

footer a {
    text-decoration: none;
}